<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd" throwExceptions="true"
      autoReload="true"
	    throwConfigExceptions="true"
      internalLogLevel="Warn" internalLogFile="Logs\nlog-internal.log">


  <targets>

    <target name="tracelog" xsi:type="File" fileName="${basedir}\Logs\TraceLog.log"
      layout="${longdate}|${level:uppercase=true:padding=5}|${logger:padding=25}|${message}"
      encoding="utf-8"
      keepFileOpen="true"
      openFileCacheTimeout="1"
      concurrentWrites="true"
      bufferSize="65536"
      autoFlush="false"
      openFileFlushTimeout="1"
      maxArchiveFiles="10"
      archiveOldFileOnStartup ="true"
      archiveNumbering="Date"
      archiveDateFormat ="yyMMdd-HHmmss"
      deleteOldFileOnStartup="true"
    />


    <target name="chronolog" xsi:type="File" fileName="${basedir}\Logs\TraceLog.log"
      layout="${longdate}|${level:uppercase=true:padding=5}|${logger:padding=25}|${message}"
      encoding="utf-8"
      keepFileOpen="true"
      openFileCacheTimeout="1"
      concurrentWrites="true"
      bufferSize="65536"
      autoFlush="false"
      archiveOldFileOnStartup ="false"
      deleteOldFileOnStartup="false"
    />

    <target name="statslog" xsi:type="File" fileName="${basedir}\Logs\StatsLog.log"
      layout="${longdate};${message}"
      encoding="utf-8"
      keepFileOpen="true"
      openFileCacheTimeout="1"
      concurrentWrites="true"
      bufferSize="1048576"
      autoFlush="false"
      archiveFileName="${basedir}/Logs/archives/statslog.{#}.log"
      archiveDateFormat="yyyyMMdd"
      archiveEvery="Day"
      archiveNumbering="Date"
      maxArchiveFiles="7"
    />

  </targets>

  <rules>

    <logger name="*Logger" minlevel="Debug" writeTo="tracelog" />
    <logger name="*Chrono" minlevel="Trace" writeTo="chronolog" />
    <logger name="*Stats" minlevel="Info" writeTo="statslog" />

  </rules>

</nlog>
